[Unit]
Description=PE32 ME162+Sunspec exporter
After=network.target

[Service]
Type=simple
#Environment=PE32ME162_BROKER=test.mosquitto.org
#Environment=PE32ME162_TOPIC=PE32/RASPI
#Environment=PE32ME162_GUID=EUI48:11:22:33:44:55:66
#Environment=PE32ME162_DEBUG=1
Environment=ME162=/dev/ttyAMA0
Environment=SUNSPEC=192.168.1.234
EnvironmentFile=-/etc/default/pe32powerpy_pub
RestartSec=15
Restart=always
ExecStart=/usr/bin/python3 /srv/pe32powerpy_pub/pe32powerpy_pub.py $ME162 $SUNSPEC
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
# vim: set syn=dosini:
